<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>--- {{ page.title }} ---</title>
    <link href="assets/eyefind.css" rel="stylesheet" />
    <link href="assets/favicon.png" rel="icon" />
    <meta name="description" content="The search engine that knows everything about you, mostly because it drives around in cars collecting all your private data. -- Recreation by ByeMC" />
    <script>
        function search() {
            window.location.href = `search?q=${document.getElementById("searchtext").value}`
        }
    </script>
</head>
<body>
    <div class="menu">
        <div class="menutext">
            <img src="assets/icon.png" alt="eyefind.info" width="163" height="69">
            <br />
            <br />
        </div>
        <input type="text" id="searchtext" placeholder="Search Eyefind" title="searchtext">
        <input type="button" name="search" value="Search" onclick="search()" />
        <hr size="5" color="#e7c121">
    </div>
    {% if page.search %}
    <div class="search">
        <script async src="https://cse.google.com/cse.js?cx=c84ef94bbb51f76fb"></script>
        <div class="gcse-searchresults-only"></div>
    </div>
    {% endif %}
</body>
</html>